{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

<br>


<h3>Identificador del canal: {{object.id}}</h3>

<h4>Mensajes del canal</h4>

    <div id="contenedor_ms">
        {% for mensaje in object.canalmensaje_set.all %}	
        <div class="div_ms {% if request.user == mensaje.usuario %}mis_mensajes
        {% else %} tus_mensajes{% endif %}">
            <small>{{mensaje.usuario}}</small>
                <p>{{mensaje.texto}}</p>
            <small>{{mensaje.tiempo}}</small>
    </div>

{% endfor %}
</div>
<div class="div_form_ms">
    <form id="form_submit" action="{{ request.path }}" method="POST">
        {% csrf_token %}

        {{form.as_p}}

        <button type="submit" class="btn_enviar">
            Enviar
        </button>

    </form>

</div>


<br>
<br>
<br>
<div class="text-center" >
    
</div>
<br>
<br>
{% endblock bloquecambia %}