{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

<br>
<h3>Identificador del canal: {{object.id}}</h3>

<h4>Mensajes del canal</h4>

{% for mensaje in object.chatmensaje_set.all  %}

    
    {% if request.user == mensaje.usuario %}
        <p>
            <strong>
                {{mensaje.texto}}
            </strong>
            
            <span>
                La persona logueada envio el mensaje
            </span>

        </p>
    {% endif %}
        <p>
            {{mensaje.texto}}
            <span>
                {{mensaje.usuario}}
            </span>
        </p>
        
    
    
{% endfor %}
    
<h4>Usuarios del canal:</h4>
{% for usuarios in object.canalusuario_set.all  %}
   <p> {{usuarios.usuario}}   </p>
{% endfor %}
    


<br>
<br>
<br>
<div class="text-center" >
    
</div>
<br>
<br>
{% endblock bloquecambia %}