{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

<br>
<div class="container px-4 px-lg-1 mt-1">
    <br>
    <h3>Registrarse</h3>
    <h6 style="color:#FF0000">{{mensaje}}</h6>
    <hr>
    <form action="" method="POST">
     {% csrf_token %}

      <table>
        {{CrearEmpleado.as_table}} 
        {{userform.as_table}}
         
      </table>
      <br>
      <br>
      <hr>
      <br>
     <button class="btn btn-outline-dark mt-auto" type="submit">Crear usuario Empleado </button>
    </form>
    <br>
    <br>
<div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="{% url 'INICO' %}">Volver</a></div>

<br><br>
{% endblock bloquecambia %}