{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}
 <form  class="text-center" action="{% url 'MensajeCorreo' %}" method="POST">{% csrf_token %}
    <span class="contact1-form-title">
        <p class="fs-1">Contacto</p> 
    </span>
       
        
    {% if messages %}
            
        {% for message in messages  %}
            <div class="alert alert-light" role="alert">
                <p class="fs-3">{{message}}</p>
            </div>
           
        {% endfor %}
                    


    {% endif %}
    
            
    <div class="form-floating mb-3 wrap-input1 validate-input" data-validate="Es requerido un nombre">
        <input type="text" class="form-control" name="name" placeholder="Nombre" >
        <label for="floatingInput">Ingrese su nombre:</label>
    </div>            
    <!-- <div class= "wrap-input1 validate-input" data-validate="Es requerido un nombre">
        <input class="input1" type="text" name="name" placeholder="Nombre">
        <span class="shadow-input1"></span>
    </div> -->
    <br>
    <div class="form-floating mb-3 wrap-input1 validate-input" data-validate="Es requerido un email">
        <input type="text" class="form-control" name="email" placeholder="Correo" >
        <label for="floatingInput">Ingrese su correo:</label>
    </div>
    <!-- <div class= "wrap-input1 validate-input" data-validate="Es requerido un email">
        <input class="input1" type="text" name="email" placeholder="Correo">
        <span class="shadow-input1"></span>
    </div> -->
    <br>
    <div class="form-floating mb-3 wrap-input1 validate-input" data-validate="Es requerido un email">
        <input type="text" class="form-control" name="asunto" placeholder="Asunto" >
        <label for="floatingInput">Ingrese el Asunto:</label>
    </div>
    <!-- <div class= "wrap-input1 validate-input" data-validate="Es requerido un asunto">
        <input class="input1" type="text" name="asunto" placeholder="Asunto">
        <span class="shadow-input1"></span>
    </div> -->
    <br>
    <div class= "wrap-input1 validate-input" data-validate="Es requerido un mensaje">
        <textarea class="input1" cols="200"  rows="6" name="mensaje" placeholder="Mensaje"></textarea>
        <span class="shadow-input1"></span>
    </div>
    <br>
    <br>


     <input class="btn btn-outline-info mt-auto" type="submit" value="Enviar" >
     <br><br><br>
     <div class="text-center"><a  class="btn btn-outline-dark mt-auto" href="/Appventas/">Volver</a></div>
     <br>
 </form>
 


{% endblock bloquecambia %}