{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

<br>
<h3 style= "margin-left: 50px">Cambiar Contraseña:</h3>
<h3 style= "margin-left: 50px">{{user.username}}</h3>
<h4 style= "margin-left: 50px">{{mensaje}}</h4>

<div style= "margin-left: 50px" >
    <br>
    <form method="post"> {% csrf_token %} 
        <table>
          {{ form.as_table }} 

        </table>
        <br>
        <hr>

        <button class="btn btn-outline-dark mt-auto" type="submit">Guardar cambios</button>
    </form>


    <br>
    <br>
<div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="{% url 'Perfil' %}">Volver</a></div>

<br><br>
{% endblock bloquecambia %}