{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

<br>

{% if validlink %}
    

    
<h1 style= "margin-left: 50px">Nueva contraseña</h1>

<div style= "margin-left: 50px" >
    <br>
    <form method="post"> {% csrf_token %}
        <label for="id_new_passwprd1">Nueva contraseña</label>
        {{form.new_passwprd1}}
        
        {{form.new_password2.error}}
        <label for="id_new_passwprd2">Confirme contraseña</label> {{form.new_password2}}

        <input type = "submit" value="Cambiar Contraseña"/>

       
    </form>
    {% else %}
    <h1 class=" text-center"> ENLACE INVALIDO: ESTE ENLACE YA SE UTILIZO</h1>

    {% endif %}

    <br>
    <br>
<div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="{% url 'Perfil' %}">Volver</a></div>

<br><br>
{% endblock bloquecambia %}