{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

<br>
<h3 style= "margin-left: 50px">Recuperar Contraseña</h3>

<div style= "margin-left: 50px" >
    <br>
    <form method="post"> {% csrf_token %}
        <label for="id_email">Correo:</label> {{form.email}}
        <input type = "submit" value="Enviar"/>
       
    </form>


    <br>
    <br>
<div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="{% url 'Perfil' %}">Volver</a></div>

<br><br>
{% endblock bloquecambia %}