<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bicicleteria</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
       
        <nav class="navbar-expand-lg" style="background-color: hwb(0 100% 0%);">
           

        <style>
            .chat-messages{
                height: 400px;
                overflow-y:auto;
            }

        </style>
    </head>
    <body>
         <!-- Navigation-->
         

        <!-- Header--> 
        <header class="p-3 mb-3 border-bottom">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{% url 'INICIO' %}" class="nav-link px-2 link-secondary">HOME</a></li>
                  <li><a href="{% url 'Nosotros' %}" class="nav-link px-2 link-dark">ABOUT</a></li>
                  <li><a href="{% url 'Tienda' %}" class="nav-link px-2 link-dark">TIENDA</a></li>
                </ul>

        
                <div class="dropdown text-end">
                                        
                    {% if user.is_authenticated %}

                        
                        {% if url %}
                            <img src="{{url}}" height="50px" alt="avatar">    
                        {% endif %}
                                                     
                        
                        
                        <button class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false" >{{user.username}}</button>

                            <ul class="dropdown-menu">

                              <li><a class="dropdown-item" href="{% url 'Perfil' %}">Perfil</a></li>
                              <li><a class="dropdown-item" href="{% url 'MensajeCorreo' %}">Contacto</a></li>
                              <li><a class="dropdown-item" href="{% url 'rooms' %}">Chat</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="{% url 'Logout' %}">Salir</a></li>

                            </ul>
               
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'Login' %}">Ingresar</a>
                    {% endif %}
                </div>
              </div>
            <br>

            

{% block bloquecambia %}            
</header>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div style="display:flex ;" class="carousel-inner">
    <div class="carousel-item active">
      <img src="Appventas/media/img/Bici carrusel.jpg" class="d-block w-100" width="auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="Appventas/media/img/Bici carrusel2.jpg" class="d-block w-100" width="auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="Appventas/media/img/repuestos.jpg" class="d-block w-100" width="auto" alt="...">
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 
  </header>           
<br>

  <br>
  <br>
  <br>



 {% endblock bloquecambia %}
    <br>
    <br>
    <br>
    <br>



        
        {% block scripts %}
        {% endblock %}
            
   


        <!-- Footer-->
        
        <footer class="py-5 bg-dark">
          
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">  
                <li class="nav-item"><a class="nav-link active text-white aria-current=" href="{% url 'MensajeCorreo' %}">Contactarse</a></li>
                
                <!--<li class="nav-item"><a class="nav-link" href="{% url 'Nosotros' %}">Nosotros</a></li>-->
            </ul>
            
            
            <p class="text-white small mb-4 mb-lg-0 ms-lg-4">CoderHouse Curso Python 2022.</p><div class="container"><p class="m-0 text-center text-white">Martin Goñi & Martin Bisceglia &copy; Coder House 2022</p></div>
        
        </footer>

        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
