{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}
<br>
<br>
<div class="text-center" >
    <div style= "margin-left: 400px" class="rounded float-start" >
       
        <img src="{{about0}}" height="400px" alt="About" class="shadow-sm p-3 mb-5 bg-body rounded">  
        

        <h4>Martin Goñi</h4>
        <p class="text-muted">Developer</p>
        <a href="https://www.facebook.com/">
            <img src="{{about2}}" height="35px" alt="Facebook" class="rounded float-start" style="margin-left:2%;">
        </a>
        
        <a href="">
            <img src="{{about4}}" height="35px" alt="Instagram" class="rounded float-start" style="margin-left:22%;">
        </a>
        
        <a href="https://github.com/Mar7inG">
            <img src="{{about3}}" height="35px" alt="Facebook" class="rounded float-start" style="margin-left:20%;">
        </a>

        
    </div> 
    
    <div class="col-sm-3 py-3 mx-auto">
        <h1 class="display-5 fw-normal">Locos por las bicis pero no tanto para venderlas</h1>
        <p class="fs-5">Somos dos individuos locos por las 2 ruedas, y creemos que tenemos la mision de poder llevar a cada persona una bicicleta a corde a sus necesidades y gustos.
            Todo comenzó cuando nos encontramos Martin & Martin en un local de ventas de bicicletas y por error el vendedor nos realizo la factura invertida, ( si obiooooo es porque nos llamamos igual!!), y desde ese momento nos dimos cuenta de la pasion por las bicis y creamos esta tienda.
        </p>

    </div>
     
    <div  style= "margin-top: -26%; margin-right: 20%;" class="rounded float-end">
        <img src="{{about1}}" height="400px" class="shadow-sm p-3 mb-5 bg-body rounded"  alt="About">  
        <h4>Martin Bisceglia</h4>
        <p class="text-muted">Developer</p>
       
        <a href="https://www.facebook.com/">
            <img  src="{{about2}}" height="35px" alt="Facebook" class="rounded float-start" style="margin-left:8%;">
        </a>
        
        <a href="">
            <img src="{{about4}}" height="35px" alt="Instagram" class="rounded float-start" style="margin-left:22%;">
        </a>

        <a href="https://github.com/martoterus/">
            <img src="{{about3}}" height="35px" alt="Facebook" class="rounded float-start" style="margin-left:20%;">
        </a>
            

        
    </div>    

</div>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    







<div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="{% url 'INICIO' %}">VOLVER</a></div>

<br><br>
{% endblock bloquecambia %}