{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

<div class="p-10 lg:p-20 "style= "margin-left: 50px">
    <h2 class="text-3xl lg:text-6xl text-black">Canales</h2>
   
        {% for canal in rooms  %}
             <div  class="card text-center" style="width: 18rem;">

                 <div class="card-body">
                     <h5 class="card-title">{{canal.name}}</h5>
                     <p class="card-text">{{canal.slug}}</p>
                     <a href="{% url 'Canal' canal.slug %}" class="btn btn-primary">Unirse</a>
                 </div>
             </div>
             <br>
        {% endfor %}
   

</div>

{% endblock bloquecambia %}