{% extends 'Padre.html' %}
{% load static %}
{% block title %}{{ room.name }} | {% endblock %}

{% block bloquecambia %}

<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-black">{{ room.name }}</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-gray rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username</p>
            <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
        </div>
        
        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username</p>
            <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
        </div>

        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username</p>
            <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
        </div>
    
    </div>
</div>



{% endblock bloquecambia %}