<table  class="table table-bordered" style="color:black;">
  <thead>

    <tr>
      <th colspan="3" class="text-center">

       Carro compras


      </th>
    </tr>

    <tr>

      <th>Producto</th>
      <th>Cantidad</th>
      <th>Suma</th>

    </tr>


  </thead>

<tbody>

  {% if request.session.carrito.items %} <!---Si no se agregaron items en el carro mostrar un mensaje de advertencia ----->
    {% for key, value in request.session.carrito.items %} <!---Recorrer todo el carro y mostrarlos----->
      <tr class="text-center">

        <td>{{value.nombre}}</td>
        <td>{{value.cantida}}</td>
        <td>
        
           $ {{value.precio}}

        </td>

      </tr>
    {% endfor %}    
        
  {% else %}                       <!---cuando aparece el mensaje de advertencia si no hay productos---->
    <tr>
      <td colspan="3">
        <div class="alert alert-danger text-center">

          Sin productos


        </div>
                    
      </td>
    </tr>

  {% endif %}


</tbody>
<footer>

    <tr>

        <td colspan="3">

            Total: ${{total_carrito}}
           
              <button class="btn btn-success" type="button" ><a class="btn btn-success" href= '{% url "Limpiar" %}'>Vaciar carrito</a></button>

           
        </td>


    </tr>

</footer>

</table>